.App {
  height: 100vh;
  background-color: lightgray;
}

.checker-container {
  display: flex;
  padding: 10px;
  border-color: rgb(65, 65, 65);
}

.checker-card__label {
  font-size: small;
}

.checker-card-input {
  border-style: solid;
  border-color: grey;
  border-radius: 8px;
  display: flex;
  width: fit-content;
  background-color: #ffffff;
}

.checker-card-input__input {
  margin: 4px;
  border: none;
}

.checker-card-input__input:focus {
  outline: none;
}

.checker-card-input-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
}

.checker-card-input-icon__img {
  margin: 6px;
}

.prefix-container {
  padding: 10px;
}
